#ignore directories starting with .
.*

#ignore Python cache files
*.pyc

#ignore config piles
*.ini

#ignore intellij files
*.iml

#ignore build files
target/

#ignore virtual enviornment folder
venv/

#ignore VS Code workspace files
*.code-workspace

mercury.config